
<div class='jumbotron'>

<div class="card card-body bg-default">

	<% if flash[:alert] %>
		<p id="notice"> <%= flash[:alert] %> </p>
	<% end %>


	<%= form_tag do %>
		<fieldset>
			<legend><h3>Please log in</h3></legend>

			<div class="form-group">
				<%= label_tag :name, 'Name ' %>
				<%= text_field_tag :name, '', :class => 'form-control text-left' %>
			</div>

			<div class="form-group">
				<%= label_tag :password, 'Password ' %>
				<%= password_field_tag :password, '', :class => "form-control text-left" %>
			</div>


		  <div class="form-check">
			<%= label_tag :remember_me, 'Remeber me? '%>
				<%= check_box :remember_me, :class=>"form-check-input", :type => "checkbox" %>
		  </div>

			<div class="form-text text-muted">
				<p> If you don't have an account please <%= link_to 'Sign Up', signup_url %> </p>
			</div>

			<div class="form-group">
				<%= submit_tag "Login", :class => "btn btn-primary" %>
			</div>


		</fieldset>
	<% end %>
</div>
</div>
